# Database Configuration
#DATABASE_URL=postgresql://user:password@localhost:5432/meteor_simulator
REDIS_URL=redis://localhost:6379/0

# NASA API Configuration
NASA_API_KEY=vZNQ5YHcoxVMmFKtvVbU3b8ToHo0cf8zMWA79zyn 
NASA_EARTHDATA_USERNAME=your_earthdata_username
NASA_EARTHDATA_PASSWORD=your_earthdata_password
NASA_EARTHDATA_TOKEN=

# Application Settings
DEBUG=True
SECRET_KEY=your_secret_key_here
API_V1_STR=/api/v1
DEMO_MODE=True
CACHE_TTL_SECONDS=300
CORS_ALLOW_ORIGINS=*

# External APIs
USGS_API_KEY=your_usgs_api_key
NOAA_API_KEY=your_noaa_api_key

# Celery Configuration
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
